{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if no_recipes %}
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="alert alert-info">
                    There are no recipes in the database yet. Please add some recipes to get started.
                </div>
            </div>
        </div>
    {% else %}
        <h2 class="display-3 mt-5 mb-4">Recipe of the Day</h2>
        <div class="row my-4">
           
            <div class="col-auto pe-2 d-flex justify-content-start">
                <a href="{% url 'recipe:recipe_detail' random_recipe.pk %}" >
                    <img src="{{ random_recipe.image.url }}" class="img-fluid rounded shadow"
                     style="object-fit: cover; height: 100%; max-width: 350px;" alt="{{ random_recipe.name }}">
                </a>
            </div>
            
            <div class="col ps-2">
                <a href="{% url 'recipe:recipe_detail' random_recipe.pk %}" class="link-underline link-underline-opacity-0">
                    <h3 class="display-6">{{ random_recipe.name }}</h3>
                </a> 
                <p><strong>Ingredients:</strong> {{ random_recipe.ingredients }}</p>
                <p><strong>Cooking Time:</strong> {{ random_recipe.cooking_time }} minutes</p>
                <p><strong>Difficulty:</strong> {{ random_recipe.difficulty }}</p>
              
            </div>
        </div>
    {% endif %}
{% endblock %}