{% extends "base.html" %}

{% block title %}Recipes{% endblock %}

{% block content %}
<div class="container">
          
    <h1 class="display-4 mb-4">Recipes</h1>

    {% for recipe in recipes %}
    <div class="row mb-2 pb-2 border-bottom"> 
    
        <div class="col-auto"> 
            <a href="{% url 'recipe:recipe_detail' recipe.pk %}">
                <img src="{{ recipe.image.url }}" class="img-fluid rounded shadow" 
                 style="object-fit: cover; height: 100%; max-width: 200px;" alt="{{ recipe.name }}">
            </a>
        </div>
      
        <div class="col ps-3"> 
            <a href="{% url 'recipe:recipe_detail' recipe.pk %}" class="link-underline link-underline-opacity-0">
                <h2 class="display-6">{{ recipe.name }}</h2>
            </a>
            <p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
            <p><strong>Cooking Time:</strong> {{ recipe.cooking_time }} minutes</p>
            <p><strong>Difficulty:</strong> {{ recipe.difficulty }}</p>
        </div>
    </div>
    {% empty %}
        No recipes found.
    {% endfor %}      
</div>

{% endblock %}
